body,html{
    font-family: "微軟正黑體";
    font-weight: 500;
}
#start{
    margin: 0 auto;
    color: #F56698;
    display: block;
    background-color: #0E152E;
    width: 400px;
    height: 100px;
    border-radius: 80px;
    text-align: center;
    line-height: 100px;
    font-size: 30pt;
    text-decoration:none;
    border: 5px solid #F56698;
    letter-spacing: 14px;
    margin-top: 10px;
}
